<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WanMengHui.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F21DF4491D629FF1007D80B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F21DF4621D629FF1007D80B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F21DF46D1D629FF1007D80B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
